name: Build APEx Theme

on:
  push:
    paths:
      - 'themes/apex/**'
  workflow_dispatch:

jobs:
  call-build-theme:
    uses: ./.github/workflows/build_theme.yml
    with:
      theme: apex
      base_version: 'v3.3.5'
    secrets: inherit