name: Build Demo Theme

on:
  push:
    paths:
      - 'themes/demo/**'
  workflow_dispatch:

jobs:
  call-build-theme:
    uses: ./.github/workflows/build_theme.yml
    with:
      theme: demo
      base_version: 'v4.0.0'
    secrets: inherit